services:
  frontend:
    image: node:lts-alpine
    working_dir: /app
    ports:
      - "4321:4321"
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: sh -c "npm install && npm run dev -- --host"
